body {
  font-family: Arial;
}

/* counter */
.div1 {
  /*style*/
  background-color: rgb(28, 18, 79);
  color: rgb(117, 117, 117);
  font-family: Arial;

  /*layout*/
  margin: auto;
  width: auto;
  height: auto;
  padding: 5px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .div2 {
  background-color: rgb(28, 223, 113);
  padding: 5px 5px;
  }

/* nav1 */
.nav1 {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(28, 18, 79);
  box-shadow:
    rgba(0, 0, 0, 0.9) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
  #rumah {
    float: right;
  }
  #logo {
    float: right;
  }
  #tentang {
    float: left;
  }
  #isu {
    float: left;
  }
  li a {
    display: flex;
    color: rgb(117, 117, 117);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    li a:hover {
      background-color: rgb(28, 223, 113);
    }
  li img {
  display: flex;
  color: rgb(117, 117, 117);
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
  }

/*data dan tentang*/
#simpan {
  text-align: right;
  padding: 3.5px;
  font-family: Arial Narrow;
  color: white
}

/* konten1 */
.konten1 {
  background-color: rgb(117, 117, 117);
  border-radius: 0 0 250px 0;
  margin: auto;
  padding: 3.5px;
  float: left;
  width: 27%;
}
  #tentang2 {
      font-size: 150%;
      background-image: linear-gradient(rgb(28, 18, 79), rgb(28, 223, 113)); 
      -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;
    }
    #tentang3 {
      font-size: 100%;
      background-image: linear-gradient(rgb(28, 18, 79), rgb(28, 223, 113)); 
      -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;
    }


/*konten2 */
.konten2 {
  margin: auto;
  padding: 3.5px;
  float: left;
  width: 25%;
}
  #tentang1 {
    padding: 0px 0px;
  }
  #update {
    
  }
  #update > h2, p {
    margin: 2px;
  }

/*konten3*/
.konten3 {
  margin: auto;
  padding: 3.5px;
  float: left;
  width: 25%;
}
  #populer {
    background-color: rgb(28, 223, 113);
    border-radius: 100px 30px 100px 30px;
    padding: 34px;
    width: 170px;
  }
  #populer > h2, p {
    margin: 2px;
  }

/* animasi latar belakang */
.bgcircles {
  background: none;
  background: -webkit-linear-gradient(to left, rgb(28, 18, 79), rgb(28, 223, 113));
  width: 100%;
  height: 100vh;
}
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(28, 223, 113, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
    .circles li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }
    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }
    .circles li:nth-child(3) {
      left: 70%;
      width: 60px;
      height: 60px;
      animation-delay: 4s;
    }   
    .circles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }
    .circles li:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }
    .circles li:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 0s;
    }
    .circles li:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }   
    .circles li:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }
    .circles li:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }
    .circles li:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }
  @keyframes animate {
    0% {
      transform: translateY(0)
      rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px)
      rotate(720deg);
      opacity: 0;
      border-radius: 20%;
    }
  }

/* footer */
.footer {
  background-color: rgb(28, 18, 79);
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
  footer img {
    
  }
