* {
	padding: 0;
}
body {
  font-family: Arial;
}
@media (max-width: 768px) {
	.konten1, .konten2, .konten3 {
		width: 100%;
	margin-bottom: 20px;
	}
	#acara, #perpustakaan {
		width: 100%;
	}
}

/* counter */
.div1 {
  /*style*/
  background-color: rgb(28, 18, 79);
  color: rgb(117, 117, 117);
  font-family: Arial;

  /*layout*/
  margin: auto;
  width: auto;
  height: auto;
  padding: 5px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .div2 {
  background-color: rgb(28, 223, 113);
  padding: 5px 5px;
  }

/* nav1 */
.nav1 {
	display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(28, 18, 79);
  box-shadow:
    rgba(0, 0, 0, 0.9) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
  #rumah {
    float: right;
  }
  #logo {
    float: right;
  }
  #tentang {
    float: left;
  }
  #isu {
    float: left;
  }
  li a {
    display: flex;
    color: rgb(117, 117, 117);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    li a:hover {
      background-color: rgb(28, 223, 113);
    }
  li img {
  display: flex;
  color: rgb(117, 117, 117);
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
  }
/* button */
#but:active {
  font-weight: bold;
  transition-duration: 4s ease;
  transform: scale(.70);
}
#reset:active {
  transition-duration: 4s ease;
  transform: scale(.70);
}

/*data dan tentang*/
#simpan {
  text-align: right;
  padding: 3.5px;
  font-family: Arial Narrow;
  color: white
}

/* konten1 */
.konten1 {
	display: block;
  background-color: rgb(117, 117, 117);
  border-radius: 0 0 230px 0;
  margin: auto;
  padding: 3.5px;
  float: left;
  width: 30%;
}
  #tentang2 {
    font-size: 150%;
    background-image: linear-gradient(rgb(28, 18, 79), rgb(28, 223, 113)); 
    -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;
  }
  #tentang3 {
    font-size: 100%;
    background-image: linear-gradient(rgb(28, 18, 79), rgb(28, 223, 113)); 
    -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;
  }

/*konten2 */
.konten2 {
	display: block;
  margin: auto;
  padding: 3.5px;
  float: left;
  width: 25%;
}
  #tentang1 {
    padding: 0px 0px;
  }
  #update {

  }
  #update > h2, p {
    margin: 2px;
  }

/*konten3*/
.konten3 {
	display: block;
  margin: auto;
  padding: 3.5px;
  float: left;
  width: 25%;
}
  #acara {
    text-align: center;
    background-color: rgb(28, 223, 113);
    border: none;
    color: rgb(90, 90, 90);
    padding: 7.5px 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 9px;
    box-shadow: 0 9px rgb(117, 117, 117);
    display: inline-block;
    cursor: pointer;
  }
    #acara:hover {
      background-color: rgb(28, 18, 79);
    }
    #acara:active {
      background-color: ;
      box-shadow: 0 4.5px rgb(117, 117, 117);
      transform: translateY(4.5px)
    }
  #ketdemo {
    border-bottom: 5px solid rgb(28, 223, 113);
  }
  #perpustakaan {
    text-align: center;
    background-color: rgb(28, 223, 113);
    border: none;
    color: rgb(90, 90, 90);
    padding: 7.5px 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 9px;
    box-shadow: 0 9px rgb(117, 117, 117);
    display: inline-block;
    cursor: pointer;
  }
    #perpustakaan:hover {
      background-color: rgb(28, 18, 79);
    }
    #perpustakaan:active {
      background-color: ;
      box-shadow: 0 4.5px rgb(117, 117, 117);
      transform: translateY(4.5px)
    }
  #ketperpus {
    border-bottom: 5px solid rgb(28, 223, 113);
  }
  #populer {
    background-color: rgb(28, 223, 113);
    border-radius: 100px 30px 100px 30px;
    padding: 34px;
    width: 170px;
  }
  #populer > h2, p {
    margin: 2px;
  }

/* animasi latar belakang */
.bgcircles {
  background: none;
  background: -webkit-linear-gradient(to left, rgb(28, 18, 79), rgb(28, 223, 113));
  width: 80%;
  height: 100%;
}
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(28, 223, 113, 0.2);
    animation: animate 25s linear infinite;
    bottom: -500px;
  }
    .circles li:nth-child(1) {
      left: 13%;
      width: 80px;
      height: 80px;
	animation-delay: 2s;
      animation-duration: 4s;
    }
    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
	animation-delay: 4s;
      animation-duration: 7s;
    }
    .circles li:nth-child(3) {
      left: 25%;
      width: 60px;
      height: 60px;
	animation-delay: 2s;
      animation-duration: 9s;
    }   
    .circles li:nth-child(4) {
      left: 12%;
      width: 60px;
      height: 60px;
	animation-delay: 2s;
      animation-duration: 16s;
    }
    .circles li:nth-child(5) {
      left: 15%;
      width: 20px;
      height: 20px;
	animation-delay: 4s;
      animation-duration: 12s;
    }
    .circles li:nth-child(6) {
      left: 5%;
      width: 110px;
      height: 110px;
	animation-delay: 2s;
      animation-duration: 11s;
    }
    .circles li:nth-child(7) {
      left: 2%;
      width: 150px;
      height: 150px;
	animation-delay: 4s;
      animation-duration: 9s;
    }   
    .circles li:nth-child(8) {
      left: 22%;
      width: 25px;
      height: 25px;
	animation-delay: 2s;
      animation-duration: 8s;
    }
    .circles li:nth-child(9) {
      left: 8%;
      width: 15px;
      height: 15px;
	animation-delay: 2s;
      animation-duration: 6s;
    }
    .circles li:nth-child(10) {
      left: 17%;
      width: 150px;
      height: 150px;
	animation-delay: 4s;
      animation-duration: 10s;
    }
  @keyframes animate {
    0% {
      transform: translateY(0)
      rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px)
      rotate(720deg);
      opacity: 0;
      border-radius: 20%;
    }
  }

/*Fork*/
.garpuaku {
  margin: auto;
  float: left;
  width: 25%;
  background-color: rgb(117, 117, 117);
  border-radius: 0 150px 0 0;
}
  #forkme {
    float: left;
    width: 31.5%;
  }
  #bantuaku2 {
    padding-top: 20px;
    float: left;
    width: 29.5%;
    /*font*/
    font-weight: bold;
    background-image: linear-gradient(rgb(28, 18, 79), rgb(28, 223, 113)); 
    -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;
  }

/* footer */
.footer {
	display: table;
  background-color: rgb(28, 18, 79);
  color: white;
  width: 100%;
}
  footer img {
    
  }
